bertopic==0.17.3
diagrams==0.24.4
hdbscan==0.8.40
matplotlib==3.10.7
numpy==2.3.4
ollama==0.6.0
openai==2.7.1
pandas==2.3.3
plotly==6.1.1
rapidfuzz==3.14.3
scikit_learn==1.7.2
scipy==1.16.3
seaborn==0.13.2
sentence_transformers==5.1.1
spacy==3.8.7
streamlit==1.44.1
textblob==0.19.0
torch==2.8.0
umap_learn==0.5.1
