bertopic
diagrams
hdbscan
matplotlib
numpy
ollama
openai
pandas
plotly
rapidfuzz
scikit_learn
scipy
seaborn
sentence_transformers
spacy
spacy
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.0/en_core_web_sm-3.7.0-py3-none-any.whl
streamlit
textblob
torch
umap_learn
